<div>
  <!--  BARRA DE MENU -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>


  <!--  MENU OPÇÕES-->
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav  #sidenav fxLayout="column"   opened="false" fxHide.gt-sm="false">
      <div fxLayout="column">
        <a mat-button routerLink="/assistencia">Assitencia</a>
        <a mat-button routerLink="/fatura">Fatura</a>
        <a  mat-button [matMenuTriggerFor]="portador">Portador
          <mat-menu #portador="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="opcoes">Portador</button>
          </mat-menu>
          <mat-menu #opcoes="matMenu">
            <button mat-menu-item  routerLink="/portador">Listar Portador</button>
            <button mat-menu-item  routerLink="/cadastrarPortador">Cadastrar Portador</button>
          </mat-menu>
        </a>
      </div>
    </mat-sidenav>

    <!--    CORPO -->
    <mat-sidenav-content fxFlexFill>

      <div>
        <img class="d-block w-100" src="../../../assets/image/slider2.png" alt="First slide" style="width: 100%; max-height: 550px;" >
      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center" style="flex-direction: row; box-sizing: border-box; padding-top: 80px; padding-bottom: 50px" >
        <mat-card class="example-card">
          <img  mat-card-image src="assets/image/3.png" >
          <mat-card-content>
            <mat-card-subtitle>Seguro a furtos</mat-card-subtitle>
            <p >
              Garantimos ao segurado o ressarcimento dos valores dos itens que forem roubados ou furtados.
            </p>
            <p></p>
            <p>Oferta:  13,50 mensal</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img  mat-card-image src="assets/image/1.png" >
          <mat-card-content>
            <mat-card-subtitle>Seguro a furtos</mat-card-subtitle>
            <p >
              Proteção Completa para te Deixar Despreocupado. Venha conhcer nossas ofertas!  </p>
            <p></p>
            <p>Oferta:  19,50 mensal</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img  mat-card-image src="assets/image/2.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle>Saude</mat-card-subtitle>
            <p id="aa">
              Para um sorriso mais bonito e saudável conheça nosso seguro ortodôntico.
            </p>
            <p></p>
            <p>Oferta:  4,99 mensal</p>
          </mat-card-content>
        </mat-card>
      </div>
      <!--      comentarios -->
      <div id="Duvidas" fxLayout="row" fxLayoutAlign="space-around none" >
        <!--        <p id="duvida"> Dúvidas frequentes<br>-->
        <!--        <br>-->
        <!--          Entenda um pouco mais sobre nossos serviços</p>-->
        <div>
          <img class="d-block w-100" src="../../../assets/image/duvidas%20(2).png" alt="First slide" style="width: 400px;" >
        </div>


        <div style="flex-direction: column;/* box-sizing: border-box; *//* display: flex; */place-content: stretch space-between;align-items: stretch;">
          <ul style="list-style: none;">

          </ul>
          <ul style="list-style: none;">
            <!--          primeiroo-->
            <li id="op">
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    A partir de que momento estou segurado?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Após a efetuação do cadastro, não temos período de carência</p>
              </mat-expansion-panel>
            </li>
          </ul>


          <ul style="list-style: none;">
            <li>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Quais as formas de pagamento?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Aceitamos o pagamento das mensalidades com o Cartão de Crédito ou PIX.</p>
              </mat-expansion-panel>
            </li>
          </ul>

          <ul style="list-style: none;">
            <!--          segundooooo-->
            <li>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Por que escolher o Seguro Facil?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Fácil, prático, seguro e com valores que cabem no seu bolso. </p>
              </mat-expansion-panel>
            </li>
          </ul>

          <ul style="list-style: none;">
            <li>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Seguro Facil é confiavel?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p> Sim, trabalhamos com transparência e honestidade, <br>
                  além de possuir reconhecimento no mercado. A todo <br>
                  momento é possivel verificar seu contrato e todas <br>
                  as informações relativas a ele.
              </mat-expansion-panel>
            </li>

          </ul>
        </div>
      </div>
      <div>
        <img class="d-block w-100" src="../../../assets/image/Vantagens5.png" alt="First slide" style="width: 100%; max-height: 550px;" >
      </div>

      <div>
        <h1 div id="comentarios"> Ficamos muito feliz com os feedbacks recebidos de nossa comunidade </h1>
        <img class="d-block w-100" src="../../../assets/image/comentarios.png" alt="First slide" style="width: 800px;" >
      </div>



      <!-- fotter -->
      <div class="card1">
        <mat-card id="aaa" style="justify-content: start">
          <mat-card-title-group>
            <mat-card-title>Nós da Seguro Fácil trabalhamos para mante-los seguro. Cadastre-se agora com ofertas imperdiveis !</mat-card-title>
            <!--     <mat-card-subtitle>Extra large</mat-card-subtitle>-->
            <mat-card-subtitle>
              <button mat-button-item id="color" [routerLink]="['/cadastrarPortador']">Clique aqui e cadastre-se</button>
            </mat-card-subtitle>
            <img mat-card-xl-image src="assets/image/5-removebg-preview.png" width="200px" >

          </mat-card-title-group>
        </mat-card>
      </div>

      <footer class="rodape-prin">
        <span>&copy; SeguroFacil 2017</span>
        <ul class="icones-sociais">
          <li><a href="https://www.facebook.com/" target="_blank"><img src="https://icons.iconarchive.com/icons/sicons/basic-round-social/32/facebook-icon.png" alt="Icone do facebook"></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><img src="https://icons.iconarchive.com/icons/martz90/circle/32/instagram-icon.png" alt="Icone do instagram"></a></li>
          <li><a href="https://twitter.com/" target="_blank"><img src="https://icons.iconarchive.com/icons/sicons/basic-round-social/32/twitter-icon.png" alt="Icone do twiter"></a></li>
        </ul>

      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
