.mat-toolbar.mat-primary {
  background: black;
  color: #fff;
}
.example-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;

}

.example-full-width {
  width: 100%;
}

.texto_azul {
  color: #fff
}

.titulo-login {
  margin: 10%;
  text-align: center;
}

.main-button {
  width: 400px;
  padding: 5%;
  color: white;
  background-color: rgb(1, 3, 52);
  font-weight: 600;
  font-size: medium;

}

.button{
  border-radius: 32px;
  width: 56px;
  height: 52px;
  background-color: rgba(230, 230, 250, 0.65);
}


mat-card {
  padding: 3%;
  color: rgba(224, 221, 170, 0.45);
}
.mat-card {
  background: rgba(203, 232, 107, 0.56)
  /* color: #fff; */
}

.mat-toolbar{
  height: 7vh;
}

.menu {
  width: 130px;
  overflow: auto;}

#text{
  font-size: 20px;
  margin-top: 80px;
}


//footer
.rodape-prin
{
  background-color:  rgb(0, 0, 0);
  clear: both;
  height: 60px;
  color: rgb(250,255,250);
  font-size: 15px;
  font-family: "arial", sans-serif;
}

.rodape-prin span {

  float: left;
  width:45%;
  line-height: 60px; /* Mesma altura do rodapé */

}

.icones-sociais ul {

  display: inline-block;
  height: inherit;
  float: left;
  width: 75%;
  margin: 0;
  line-height: 60px;

}

.icones-sociais li {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  width: 40px;
  height: inherit; }



